#createQuestion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  min-height: 100vh;
}
.submit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.third-text {
  color: var(--blue);
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: var(--medium-spacing);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--medium-spacing);
  width: 400px;
}
.input-box {
  height: 40px;
  width: 100%;
  position: relative;
}
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.desc-input {
  height: auto;
}

.input-box .input {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid var(--accent-blue);
  border-radius: var(--xs-radius);
  outline: none;
  color: var(--black);
  font-size: 1.8rem;
  padding-inline: 1.2rem;
}

.input-box label {
  position: absolute;
  top: 50%;
  padding-left: 20px;
  transform: translateY(-50%);
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--accent-blue);
  transition: 0.4s;
  pointer-events: none;
}
.input-box .input:focus ~ label,
.input-box .input:valid ~ label {
  top: 0px;
  left: 10px;
  background: var(--white);
  font-weight: 500;
  font-size: 1.4rem;
  padding: 2px;
  transition: 1s;
}

textarea.input {
  resize: none;
  overflow: auto;
  padding-top: 1.2rem;
  min-height: 8.4rem;
}
textarea {
  scrollbar-width: none;
}

.btn {
  display: block;
  background: var(--accent-blue);
  outline: none;
  width: 100%;
  border-radius: var(--xxs-radius);
  border: none;
  height: 45px;
  font-size: 1.6rem;
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 2px;
}
.error-message {
  display: none;
  color: var(--red);
  font-size: 1.2rem;
  margin-top: 5px;
  position: absolute;
  top: 100%; /* Position the error message below the input */
  left: 0;
  width: 100%;
}
.input-box .input:invalid ~ .error-message {
  display: block;
}
.tags-input {
  height: clamp(40px, 100%, 100%);
}
.tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid var(--accent-blue);
  font-size: 1.8rem;
  padding-inline: 1.2rem;
  border-radius: var(--xs-radius);
  min-height: 100%;
  color: var(--black);
  width: 100%;
  padding: 4px;
}

.tag {
  display: flex;
  align-items: center;
  background-color: var(--blue);
  padding: 0.4rem 0.8rem;
  color: var(--white);
  border-radius: var(--xxs-radius);
  font-size: 1.4rem;
  gap: 0.4rem;
}

.tag-delete {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--red);
}

.tag-input {
  flex-grow: 1;
  border: none;
  outline: none;
  min-width: 100px;
  font-size: 1.6rem;
}

.tag-input::placeholder {
  color: var(--gray);
  text-align: center;
}
.tag-suggestions {
  position: absolute;
  width: 100%;
  max-height: 100px;
  overflow-y: auto;
  border: 2px solid var(--accent-blue);
  border-top: none;
  background-color: var(--white);
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tag-suggestion {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background: none;
  border: 1px solid var(--accent-blue);
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s;
  color: var(--blue);
  font-size: 1.4rem;
}

.tag-suggestion:hover {
  background-color: #f0f0f0;
}

.tag-suggestion .check-icon {
  margin-right: 0.5rem;
  color: var(--green);
}
.no-tags-message {
  font-size: 1.6rem;
  color: var(--accent-blue);
  text-align: center;
  width: 100%;
  padding: 0.4rem;
}
@media (max-width: 475px) {
  .submit-form {
    width: 100%;
  }
  form {
    width: 100%;
  }
}
